<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PedirLinks</servlet-name>
        <servlet-class>PedirLinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedirMultimedia</servlet-name>
        <servlet-class>PedirMultimedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DibujarFrames</servlet-name>
        <servlet-class>DibujarFrames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Indice</servlet-name>
        <servlet-class>Indice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DibujarPagina</servlet-name>
        <servlet-class>DibujarPagina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedirLinks</servlet-name>
        <url-pattern>/PedirLinks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedirMultimedia</servlet-name>
        <url-pattern>/PedirMultimedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DibujarFrames</servlet-name>
        <url-pattern>/DibujarFrames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Indice</servlet-name>
        <url-pattern>/Indice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DibujarPagina</servlet-name>
        <url-pattern>/DibujarPagina</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
